<nav class="navbar">
    <ul class="navbar-menu">
        <li>
            <a href="{{ path('app_home') }}">Accueil</a>
        </li>



        {% if app.user %}
            <li>
                <span>👋 {{ app.user.login }}</span>
            </li>

            <li>
                <a href="{{ path('app_writing') }}">Ecrire</a>
            </li>

            <li>
                <a href="{{ path('app_myarticle') }}">Mes articles publiés</a>
            </li>

            <li>
                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('app_login') }}">Connexion</a>
            </li>

            <li>
                <a href="{{ path('app_register') }}">Inscription</a>
            </li>
        {% endif %}
    </ul>
</nav>
