{% extends 'base.html.twig' %}

{% block title %}Écrire un article{% endblock %}

{% block body %}
<h1>Écrire un nouvel article</h1>

{% for message in app.flashes('success') %}
    <div class="flash-success">{{ message }}</div>
{% endfor %}

{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.isPublished) }}
    <button class="btn">Publier</button>
{{ form_end(form) }}

{% endblock %}
